@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-paginas-web{
   
   // .container-pregunta{
   //    .pregunta{
   //       font-size: 1.7rem;
   //       line-height: 2.5rem;
   //       color: v.$negro;
   //       font-weight: 500;
   //       padding: 1rem;
   //    }
   // }

   .paginas-web-cancun{
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -2px, rgba(0, 0, 0, 0.06) 0px 2px 4px -2px;
      margin-top: 2.8rem;
      .conte-web-cancun{
         flex: 0 0 calc(100%);
         color: v.$negro;
         h2{
            margin: 1rem;
            color: v.$negro;
            font-size: 2rem;
            margin-top: 2rem;
            font-weight: 700;
         }
         h2 strong{
            color: v.$colorSecundario;
         }
         p{
            font-size: 1.1rem;
            line-height: 2rem;
            margin: 1rem;
            margin-top: 1.5rem;
            a{
               color: v.$negro;
            }
         }
      }
      .img-web-cancun{
         flex: 0 0 calc(100%);
         img{
            width: 100%;
         }
      }

   }


   @include m.desktop(){
      .container-pregunta{
         .pregunta{
            font-size: 1.7rem;
            line-height: 2.5rem;
            color: v.$negro;
            font-weight: 500;
            padding: 0;
         }
      }
   
      .paginas-web-cancun{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: 0;
         .conte-web-cancun{
            flex: 0 0 calc(50%);
      
            p{
               font-size: 1.1rem;
               line-height: 2rem;

            }


         }
         .img-web-cancun{
            flex: 1 0 calc(50%);

            display: flex;
            justify-content: center;
            align-items: center;
          justify-content: center;

            img{
               width: 100%;
            }
         }
      }    
   }
}

.ultimos-trabajos{
   h3{
      margin-left: 0.5rem;
      font-size: 1.8rem;
      line-height: 2rem;
   }
   .container-ultimo-t{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 2rem;
      margin-bottom: 2rem;
   
      .article-portafolio{
         flex: 1 0 calc(31.33%);
         margin: .6rem;
         margin-bottom: 1rem;
         box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
         img{
            width: 100%;
            height: 100%;
         }
      }
   }
}


