@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero{
   margin-top: 5.2rem;
   min-height: 24rem;
   color: v.$blanco;
   display: flex;
   align-items: center;
   background-size: cover;
   background-color: v.$colorFondoSlider;
   @include m.background-imagen('../../../assets/img/banner-devscun-movil.webp');

    .contenido-hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .info-devscun {
        flex: 2; /* Aumenta el tamaño relativo de .info-devscun */
        padding-right: 20px;
    }

    .container-promotion {
        display: none;
        flex: 1;
        padding-left: 20px;
        max-width: 500px; /* Limita el tamaño del contenedor de la oferta */
    }

    .offer-container {
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .offer-header h2 {
        font-size: 24px;
        color: #2d4e6d;
        margin-bottom: 10px;
    }

    .offer-header p {
        font-size: 16px;
        color: #6c757d;
    }

    .offer-details {
        margin-top: 20px;
        font-size: 16px;
        color: #444;
    }

    .offer-details .timer {
        font-weight: bold;
        color: #e74c3c;
    }

    .cta-button {
        display: inline-block;
        padding: 15px 20px;
        background-color: v.$colorPrimario;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
        transition: background 0.3s;
        display: none;
    }

    .cta-button:hover {
        background-color: #1e44ff;
    }


   .contenido-hero{
       flex: 1;
       h1{
            color: v.$blanco;
            line-height: 2.5rem;
            font-size: 2rem;
        }
        p{

            font-size: 1.5rem;
            line-height: 2.5rem;
            text-align:justify;

            font-weight: 500;
        }

   }

    @include m.tablet(){

        .cta-button {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        background-color: #25D366;
        color: #fff;
        padding: 14px 20px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .cta-button:hover {
        background-color: #1ebe5d;
        }

        .cta-button .icon svg {
        width: 28px;
        height: 28px;
        }

        .cta-button .text {
        display: inline-block;
        }

        // .cta-button {
        //     display: inline-block;
        //     padding: 15px 20px;
        //     background-color: v.$colorPrimario;
        //     color: #fff;
        //     text-decoration: none;
        //     font-size: 18px;
        //     border-radius: 5px;
        //     transition: background 0.3s;

        // }
        
        @include m.background-imagen('../../../assets/img/banner-diseño-web.webp');
        .container-promotion {
            display: block;
        }
    }

}